@model AmonFinalProect.Models.Carts
@{
    ViewData["Title"] = "Cart";
}

<h2>Cart</h2>
<div class="row">
    <div class="col-md-3">
        <h5 class="qp">Item</h5>
    </div>
    <div class="col-md-3"></div>

    <div class="col-md-3">
        <h5 class="qp">Quantity</h5>
    </div>

    <div class="col-md-3">
        <h5 class="qp">Price</h5>
    </div>
</div>

<div class="row">

    @foreach (var item in Model.CartsProducts)
    {

        <div class="col-md-3  rm">
            <img src="@item.Product.ImageUrl" alt="@item.Product.Name" class="img-fluid" style="max-width: 100%; height:auto; margin-bottom: 30px" />
        </div>
        <div class="col-md-3 rm">
            <form method="post" asp-action="Remove" asp-controller="Cart" class="form-inline">
                <input type="hidden" class="product" name="product" value="@item.Product.Id" />
                <input type="submit" value="Remove item" class="btn btn-sm" />
            </form>
        </div>
        <div class="col-md-3 rm">
            <input type="hidden" class="product" name="product" value="@item.Product.Id" />
            <div class="qp">
                <input type="number" min="0" max="99" value="@item.Quantity" class="qp qty" />
            </div>
        </div>
        <div class="col-md-3 rm">
            <p class="qp">@(item.Product.Price.HasValue ? item.Product.Price.Value.ToString("c") : "No Price")</p>
        </div>

    }
</div>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-3">
        <h5 class="qp">Subtotal</h5>
    </div>
    <div class="col-md-3">
        <h5 class="qp">@Model.CartsProducts.Sum(x => (x.Product.Price ?? 0m) * x.Quantity).ToString("c")</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <button class="btn btn-light checkout-button">Checkout</button>
    </div>
    
</div>



@section scripts{
    <script type="text/javascript">
        $(".checkout-button").click(e => {
            window.location.href = "/Profile"
        });

        $(".qty").change(e => {
            var id = $(e.target).parent().siblings('.product').val();
            var quantity = $(e.target).val();
            $.post("/cart/Update", { id: id, quantity: quantity },
                (d) => { window.location.href = "/Cart"; }
            );
        })

    </script>
}
